---
import dateFormat from "dateformat";
import { getImage, Picture } from "astro:assets";
import { SEO } from "astro-seo";

import "../styles/post.scss";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import InlineSvg from "../components/InlineSvg.astro";
import PostSchema from "../components/PostSchema.astro";

const { title, pubDate, tags, minutes, coverImage, coverImageAlt, seo, wordCount } = Astro.props;

const coverBg = await getImage({
    src: coverImage,
    format: "webp",
    width: 280,
    quality: 1,
});
---

<!doctype html>
<html lang="en">
    <head>
        <Head />

        <SEO {...seo} />

        <PostSchema
            title={title}
            coverImage={coverImage}
            pubDate={pubDate}
            description={seo.description}
            wordCount={wordCount}
            tags={tags}
        />

        <title>{title}</title>
    </head>
    <body>
        <Header />

        <main class="section blog">
            <article>
                <div class="container">
                    <h1>{title}</h1>

                    <p class="article-meta">
                        <time datetime={dateFormat(pubDate, "yyyy-mm-dd")}>{dateFormat(pubDate, "d mmmm yyyy")}</time>
                        / {tags?.map((tag: string): string => `#${tag}`)}
                        /
                        <InlineSvg svg="stopwatch" aria-label="Reading time" />
                        {minutes}
                        minute{minutes > 1 ? "s" : ""}
                    </p>
                </div>

                <div class="featured-image-container">
                    <div class="featured-image-bg" style={`background-image: url(${coverBg.src})`}></div>
                    <Picture
                        src={coverImage}
                        alt={coverImageAlt}
                        loading="eager"
                        widths={[280, 360, 390, 700, 768, 900]}
                        sizes="(max-width:280px) 260px,(max-width:360px) 360px,(max-width:390px) 360px,(max-width:700px) 700px,(max-width:768px) 768px,900px"
                        formats={["avif", "webp"]}
                    />
                </div>

                <div class="container post-content">
                    <slot />
                </div>
            </article>
        </main>

        <Footer />
    </body>
</html>
