---
import dateFormat from 'dateformat';
import readingTime from 'reading-time';

import '../styles/post.scss'
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const {title, pubDate, tags, image} = Astro.props.frontmatter;

const minutes = Math.max(Math.round(readingTime(await Astro.props.rawContent()).minutes), 1);
---

<!doctype html>
<html lang="en">
<head>
    <Head/>
    <title>Fernando Paredes - Web Developer</title>
</head>
<body>

    <Header/>

    <main>
        <article>
            <div class="container">
                <h1>{title}</h1>

                <p class="article-meta">
                    <time datetime={dateFormat(pubDate, 'yyyy-mm-dd')}>{dateFormat(pubDate, 'd mmmm yyyy')}</time>
                    / {tags?.map((tag) => `#${tag}`)}
                    {/* TODO: inline SVG */}
                    / <img src="img/stopwatch.svg" aria-label="Reading Time" width="16" height="16"/> {minutes}
                    minute{minutes > 1 ? 's' : ''}
                </p>
            </div>

            <div class="featured-image-container">
                <div class="featured-image-bg" style="background:greenyellow"></div>
                <img
                        class="featured-image"
                        src={image.url}
                        alt={image.alt}
                        width="900"
                        height="500"
                        srcset="
                        {{post.featured_image[280]}} 280w,
                        {{post.featured_image[360]}} 360w,
                        {{post.featured_image[390]}} 280w,
                        {{post.featured_image[700]}} 700w,
                        {{post.featured_image[768]}} 768w,
                        {{post.featured_image[900]}} 900w,
                        {{post.featured_image[1350]}} 1350w
                    "
                        sizes="
                        (max-width:280px) 260px,
                        (max-width:360px) 360px,
                        (max-width:390px) 360px,
                        (max-width:700px) 700px,
                        (max-width:768px) 768px,
                        900px
                    "
                >
            </div>

            <div class="container post-content">
                <slot/>
            </div>
        </article>

    </main>

    <Footer/>

</div>
</body>
</html>
